---
import Layout from "../../layouts/Layout.astro";
import Cursos from "../../components/Cursos.astro";
import AgregarCurso from "../../components/AgregarCurso.astro";
import BuscarCurso from "../../components/BuscarCurso.astro";
import EliminarCurso from "../../components/EliminarCurso.astro";
---

<div>
  <Layout />

  <AgregarCurso />
  <BuscarCurso />
  <EliminarCurso />
</div>
