---
import Layout from "../../layouts/Layout.astro";
import Cursos from "../../components/Cursos.astro";
import AgregarCurso from "../../components/AgregarCurso.astro";
---

<div>
  <Layout />
  <Cursos />
  <AgregarCurso />
</div>
