---
import Mentores from "./Mentores.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Inicio">
  <h1 class="text-4xl font-bold text-center mt-10">Bienvenido a Pragmma</h1>
  <Mentores />
</Layout>
