---
const platform = "github";
const username = "withastro";

import Social from "./Social.astro";
---

<footer>
  <p>
    <Social platform="facebook" username="piero.cahuanacabrera" />
  </p>
</footer>
